body {
    background-color: #0D0D0D;

}


#titulo {
    left: 110px;
    top: 120px;
    position: absolute;
    color: #D4AF37;

}

#descricao {
    left: 103px;
    top: 150px;
    position: absolute;
    color: #B8A98F;
}