* {

    box-sizing: border-box;

}

body {
    background-color: #0f0f0f;
}

/* =========================
   BOTÕES DO TOPO
   ========================= */

 #BotoesAcima {

    display: flex;

    background-color: #1B1715;

    border: 2px solid #3d342f;

    height: 70px;

    border-radius: 5px;

    margin: auto;

 }

    .botoes {

        display: flex;

        gap: 30px;

        padding-left: 20px;
    }

    .botoes button {

    font-size: 20px;

    background-color: #1B1715;

    border: none;

    color: #E5D9C3;

    text-align: center;

    }

/* =========================
   PAGINA INICIAL
   ========================= */

   /* =========================
   TITULO E SUBTITULO
   ========================= */

#primeiraparte {

    width: 95%;

    display: flex;

    max-width: 1300px;

    gap: 5%;

    margin: auto;

}

#titulo-descricao {

    width: 70%;

    display: flex;

    flex-direction: column;
}

#titulo-subtitulo {
    
    display: flex;

    flex-direction: column;

}

#titulo {

    width: 100%;

    color: #D4AF37;

    padding-left: 10px;

    font-size: 53px;

    margin: 0;
    
    margin-top: 30px;
}

#subtitulo {
    width: 100%;

    color: #E5D9C3;

    padding-left: 10px;

    font-size: 15px;

    text-align: left;

    margin: 0;    

}

/* =========================
   DESCRICAO PAGINA INICIAL
   ========================= */

#tdescricao-descricao {

    display: flex;

    flex-direction: column;

}

#tdescricao {

    width: 100%;

    border: 2px solid #3d342f;

    border-radius: 3px;
    
    background-color: #1B1715;  

    text-align: center;

    color: #E5D9C3;

    font-size: 25px;

}

/* =========================
   DESCRICAO PAGINA INICIAL
   ========================= */

#PCD {

    width: 25%;

    display: flex;

    flex-direction: column;

    margin-top: 90px;

    gap: 10px;
}

#pcdplaca {

    border: 2px solid #3d342f;

    border-radius: 3px;
    
    background-color: #1B1715;

    color: #E5D9C3;

    font-size: 20px;

    text-align: center;

    width: 70%;

    margin: auto;

    padding: 5px;

}

#huntemonster {

    width: 70%;

    height: auto;

    border: 3px solid rgb(54, 32, 75);

    margin: auto;
}

/* =========================
   OS CELESTIAIS
   ========================= */

   #titulodiferenciado {

    text-align: center;

    margin: auto;

    margin-top: 150px;

    border: 2px solid #3d342f;

    border-radius: 3px;
    
    background-color: #1B1715;

    color: #E5D9C3;

    font-size: 25px;

    width: 95%;
    
   }

    #titulodiferenciado1 {

    text-align: center;

    margin: auto;

    margin-top: 150px;

    border: 2px solid #3d342f;

    border-radius: 3px;
    
    background-color: #1B1715;

    color: #E5D9C3;

    font-size: 25px;

    width: 95%;
    
   }

.titulo {

    text-align: center;

    margin: auto;

    margin-top: 150px;

    border: 2px solid #3d342f;

    border-radius: 3px;
    
    background-color: #1B1715;

    color: #E5D9C3;

    font-size: 25px;

    width: 95%;
    
   }

 .personagem {

    width: 95%;

    max-width: 100%;

    display: flex;

    margin: auto;

    margin-left: 40px;

    gap: 5%;

    margin-top: 120px;

   }



   .imagem-stats {

    display: flex;

    width: 30%;

    gap: 2%;

    margin-top: 0;

   }

   
 @media (min-width: 2000px) {
   .imagem-stats {

    display: flex;

    width: 30%;

    gap: 2%;

    height: 600px;

    width: 600px;

   }

}

   .img-placa {

    width: 70%;

    display: flex;

    flex-direction: column;

    margin-top: 0;


   }

   .placa {

    text-align: center;

    border: 2px solid #3d342f;

    border-radius: 3px;
    
    background-color: #1B1715;

    color: #E5D9C3;

    font-size: 25px;

    width: 100%;

    padding: 10px;

    margin-top: 0;

   }


    .stats-text {

    display: flex;

    flex-direction: column;

    width: 30%;

    color: #E5D9C3;

    margin: auto 0 0;

    height: 80%;

    font-size: 16px;

    }

 .psdescricao-descricao {

    display: flex;

    flex-direction: column;

    text-align: start;

    border-radius: 3px;

    color: #E5D9C3;

    width: 30%;

    gap: 2%;

    }

    .psdescricao {

    border: 2px solid #3d342f;

    border-radius: 3px;
    
    background-color: #1B1715;

    text-align: center;

    padding: 10px;

    margin-top: 0;


    }

    .descricao {

    border: 2px solid #3d342f;

    border-radius: 3px;
    
    background-color: #1B1715;

    text-align: start;

    padding: 10px;

    color: #E5D9C3;
    
    }

    .pshabilidades {

    border: 2px solid #3d342f;

    border-radius: 3px;
    
    background-color: #1B1715;

    text-align: center;

    padding: 10px;

    margin-top: 0;


    }

    .habilidades {

    border: 2px solid #3d342f;

    border-radius: 3px;
    
    background-color: #1B1715;

    text-align: start;

    padding: 10px;
    
    }

    .pshistoria-historia {

        width: 35%;

        display: flex;

        flex-direction: column;

        color: #E5D9C3;

    }

    .pshistoria {

    border: 2px solid #3d342f;

    border-radius: 3px;
    
    background-color: #1B1715;

    text-align: center;

    padding: 10px;

    margin-top: 0;

    }

    .historia {

    border: 2px solid #3d342f;

    border-radius: 3px;
    
    background-color: #1B1715;

    text-align: start;

    padding: 10px;

    font-size: 17px;

    }

    #creditosfinais {

    width: 100%;

    display: flex;

    gap: 30%;

    border: 2px solid #3d342f;

    border-radius: 3px;
    
    background-color: #1B1715;

    text-align: start;

    padding: 10px;

    color: #E5D9C3;

    font-size: 9px;

    margin-top: 150px;

    }

    #creditoscadu {

        width: 40%
        
    }

    #creditoscharge {

        width: 40%
    }

#os-annistates {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;

    width: 100%;
}

#os-annistates img {

    width: 100%;
}