* {

    box-sizing: border-box;

}

body {
    background-color: #0f0f0f;
}

/* =========================
   BOTÕES DO TOPO
   ========================= */

 #BotoesAcima {

    display: flex;

    background-color: #1B1715;

    border: 2px solid #3d342f;

    height: 70px;

    border-radius: 5px;

    margin: auto;

 }

    .botoes {

        display: flex;

        gap: 30px;

        padding-left: 20px;
    }

    .botoes button {

    font-size: 20px;

    background-color: #1B1715;

    border: none;

    color: #E5D9C3;

    text-align: center;

    }