body {
    background-color: #0f0f0f;

}


#titulo {
    left: 80px;
    top: 115px;
    position: absolute;
    color: #D4AF37;

}

#descricao {
    left: 103px;
    top: 150px;
    position: absolute;
    color: #B8A98F;
}

#botoes {
    display: flex;
    gap:50px
}


#index {
    left: 230px;
    top: 5.5vh;
    position: absolute;
    color: #E5D9C3;
    font-size:21px;
    border: none;
    background-color: #1B1715;


}

#pi {
    left: 50px;
    top: 5.5vh;
    position: absolute;
    color: #E5D9C3;
    font-size: 21px;
    border: none;
    background-color: #1B1715;
}

#historia {
    left: 360px;
    top: 5.5vh;
    position: absolute;
    color: #E5D9C3;
    font-size: 21px;
    border: none;
    background-color: #1B1715;
}

#OJ {
    left: 500px;
    top: 5.5vh;
    position: absolute;
    color: #E5D9C3;
    font-size: 21px;    
    border: none;
    background-color: #1B1715;
}

#creditos {
    left: 690px;
    top: 5.5vh;
    position: absolute;
    color: #E5D9C3;
    font-size: 21px;
    border: none;
    background-color: #1B1715;
}



#sobre {
    left: 104px;
    top: 200px;
    position: absolute;
    color: #B8A98F;
    font-size: 21px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 510px
}


#sobrem1 {
    left: -50px;
    top: 20px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 600px;
    text-align: start;
    line-height: 16px;
}

#logo {
    left: 0px;
    top: -15px;
    position: absolute;
    color: #D4AF37;
    border: 2px solid #3d342f;
    border-radius: 3px;
    background-color: #1B1715;
    width: 99.7%;
    height: 75px;
}

#troer {
    left: 908.5px;
    top: 165px;
    position: absolute;
    width: 200px;
    height: auto;
    border: 3px solid rgb(54, 32, 75);
}

#PCD {
    left: 920px;
    top: 123px;
    position: absolute;
    color: #B8A98F;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 180px
}



#prime {
    left: 80px;
    top: 1145px;
    position: absolute;
    width: 200px;
    height: auto;
    border: 3px solid rgb(54, 32, 75);
}


#statsprime { 
    left: 290px;
    top: 1125px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
}

#textprime {
    left: 290px;
    top: 1230px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
    font-size: 13px;
}


#placaprime {
    left: 93px;
    top: 1100px;
    position: absolute;
    color: #B8A98F;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 180px;
}

#tituloprime {
    left: 75px;
    top: 1000px;
    position: absolute;
    color: #D4AF37;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 5px;
    background-color: #1B1715;
    width: 85%;
}

#psdescricaoprime {
    left: 970px;
    top: 1100px;
    color: #B8A98F;
    font-size: 15px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 100px;
    text-align: center;
    line-height: 16px;
}

#descricaoprime {
    left: 870px;
    top: 1135px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 4px;
    background-color: #1B1715;
    width: 315px;
    text-align: start;
    line-height: 16px;
}

#pshistoriaprime {
    left: 620px;
    top: 1100px;
    color: #B8A98F;
    font-size: 15px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 100px;
    text-align: center;
    line-height: 16px;
}

#historiaprime {
    left: 520px;
    top: 1135px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 4px;
    background-color: #1B1715;
    width: 315px;
    text-align: start;
    line-height: 16px;
}


#nexus {
    left: 80px;
    top: 660px;
    position: absolute;
    width: 200px;
    height: auto;
    border: 3px solid rgb(54, 32, 75);
}

#statsnexos { 
    left: 290px;
    top: 643px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
}

#textnexos {
    left: 290px;
    top: 750px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
    font-size: 13px;
}

#textnexos2 {
    left: 297px;
    top: 800px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
    font-size: 13px;
}

#placanexos {
    left: 93px;
    top: 617px;
    position: absolute;
    color: #B8A98F;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 180px;
}


#titulonexos {
    left: 75px;
    top: 530px;
    position: absolute;
    color: #D4AF37;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 5px;
    background-color: #1B1715;
    width: 85%;
}

#psdescricaonexos {
    left: 970px;
    top: 617px;
    color: #B8A98F;
    font-size: 15px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 100px;
    text-align: center;
    line-height: 16px;
}

#descricaonexos {
    left: 870px;
    top: 650px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 4px;
    background-color: #1B1715;
    width: 315px;
    text-align: start;
    line-height: 16px;
}

#pshistorianexos {
    left: 620px;
    top: 617px;
    color: #B8A98F;
    font-size: 15px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 100px;
    text-align: center;
    line-height: 16px;
}

#historianexos {
    left: 520px;
    top: 650px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 4px;
    background-color: #1B1715;
    width: 315px;
    text-align: start;
    line-height: 16px;
}

#botaonexosmostrar {
    left: 79px;
    top: 658px;
    position: absolute;
    background: none;
    border: 1px;
    width: 210px;
    height: 290px;
}

#botaonexosvoltar {
    left: 79px;
    top: 658px;
    position: absolute;
    background: none;
    border: 1px;
    width: 210px;
    height: 290px;
}

#troerfake {
    left: 80px;
    top: 1640px;
    position: absolute;
    width: 200px;
    height: auto;
    border: 3px solid rgb(54, 32, 75);
}

#statstroer { 
    left: 260px;
    top: 1621px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
    text-align: right
}

#texttroer {
    left: 290px;
    top: 1710px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
    font-size: 13px;
}

#texttroer2 {
    left: 300px;
    top: 1745px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
    font-size: 13px;
}

#placatroer {
    left: 93px;
    top: 1595px;
    position: absolute;
    color: #B8A98F;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 180px;
}

#titulotroer {
    left: 75px;
    top: 1500px;
    position: absolute;
    color: #D4AF37;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 5px;
    background-color: #1B1715;
    width: 85%;
}

#psdescricaotroer {
    left: 970px;
    top: 1595px;
    color: #B8A98F;
    font-size: 15px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 100px;
    text-align: center;
    line-height: 16px;
}

#descricaotroer {
    left: 870px;
    top: 1625px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 4px;
    background-color: #1B1715;
    width: 315px;
    text-align: start;
    line-height: 16px;
}

#pshistoriatroer {
    left: 620px;
    top: 1595px;
    color: #B8A98F;
    font-size: 15px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 100px;
    text-align: center;
    line-height: 16px;
}

#historiatroer {
    left: 520px;
    top: 1630px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 4px;
    background-color: #1B1715;
    width: 315px;
    text-align: start;
    line-height: 16px;
}

#logo2 {
    left: 0px;
    top: 2000px;
    position: absolute;
    color: #D4AF37;
    border: 2px solid #3d342f;
    border-radius: 3px;
    background-color: #1B1715;
    width: 99.7%;
    height: 75px;
}

#creditoscadu {
    left: 103px;
    top: 2050px;
    position: absolute;
    color: #B8A98F;
    font-size: 10px;

}

#creditoscharge {
    left: 1400px;
    top: 2050px;
    position: absolute;
    color: #B8A98F;
    font-size: 10px;

}


#anibrutos {
    left: 80px;
    top: 660px;
    position: absolute;
    width: 200px;
    height: auto;
    border: 3px solid rgb(54, 32, 75);
}

#statsaniBT { 
    left: 290px;
    top: 643px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
}

#textaniBT {
    left: 290px;
    top: 750px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
    font-size: 13px;
}

#placaaniBT {
    left: 93px;
    top: 617px;
    position: absolute;
    color: #B8A98F;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 180px;
}


#tituloaniBT {
    left: 75px;
    top: 530px;
    position: absolute;
    color: #D4AF37;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 5px;
    background-color: #1B1715;
    width: 85%;
}

#psdescricaoaniBT {
    left: 970px;
    top: 617px;
    color: #B8A98F;
    font-size: 15px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 100px;
    text-align: center;
    line-height: 16px;
}

#descricaoaniBT {
    left: 870px;
    top: 650px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 4px;
    background-color: #1B1715;
    width: 315px;
    text-align: start;
    line-height: 16px;
}

#pshistoriaaniBT{
    left: 620px;
    top: 617px;
    color: #B8A98F;
    font-size: 15px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 100px;
    text-align: center;
    line-height: 16px;
}

#historiaaniBT {
    left: 520px;
    top: 650px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 4px;
    background-color: #1B1715;
    width: 315px;
    text-align: start;
    line-height: 16px;
}

#anispeed {
    left: 80px;
    top: 1145px;
    position: absolute;
    width: 200px;
    height: auto;
    border: 3px solid rgb(54, 32, 75);
}


#statsaniSP { 
    left: 290px;
    top: 1125px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
}

#textaniSP {
    left: 290px;
    top: 1230px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
    font-size: 13px;
}


#placaaniSP {
    left: 93px;
    top: 1100px;
    position: absolute;
    color: #B8A98F;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 180px;
}

#tituloaniSP {
    left: 75px;
    top: 1000px;
    position: absolute;
    color: #D4AF37;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 5px;
    background-color: #1B1715;
    width: 85%;
}

#psdescricaoaniSP {
    left: 970px;
    top: 1100px;
    color: #B8A98F;
    font-size: 15px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 100px;
    text-align: center;
    line-height: 16px;
}

#descricaoaniSP {
    left: 870px;
    top: 1135px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 4px;
    background-color: #1B1715;
    width: 315px;
    text-align: start;
    line-height: 16px;
}
#pshistoriaaniSP {
    left: 620px;
    top: 1100px;
    color: #B8A98F;
    font-size: 15px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 100px;
    text-align: center;
    line-height: 16px;
}

#historiaaniSP {
    left: 520px;
    top: 1135px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 4px;
    background-color: #1B1715;
    width: 315px;
    text-align: start;
    line-height: 16px;
}

#anitank {
    left: 80px;
    top: 1640px;
    position: absolute;
    width: 200px;
    height: auto;
    border: 3px solid rgb(54, 32, 75);
}

#statsaniTN { 
    left: 260px;
    top: 1621px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
    text-align: right
}

#textaniTN {
    left: 290px;
    top: 1710px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
    font-size: 13px;
}


#placaaniTN {
    left: 93px;
    top: 1595px;
    position: absolute;
    color: #B8A98F;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 180px;
}

#tituloaniTN {
    left: 75px;
    top: 1500px;
    position: absolute;
    color: #D4AF37;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 5px;
    background-color: #1B1715;
    width: 85%;
}

#psdescricaoaniTN {
    left: 970px;
    top: 1595px;
    color: #B8A98F;
    font-size: 15px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 100px;
    text-align: center;
    line-height: 16px;
}

#descricaoaniTN {
    left: 870px;
    top: 1625px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 4px;
    background-color: #1B1715;
    width: 315px;
    text-align: start;
    line-height: 16px;
}

#pshistoriaaniTN {
    left: 620px;
    top: 1595px;
    color: #B8A98F;
    font-size: 15px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 100px;
    text-align: center;
    line-height: 16px;
}

#historiaaniTN {
    left: 520px;
    top: 1630px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 4px;
    background-color: #1B1715;
    width: 315px;
    text-align: start;
    line-height: 16px;

}

#animagia {
    left: 80px;
    top: 2180px;
    position: absolute;
    width: 200px;
    height: auto;
    border: 3px solid rgb(54, 32, 75);
}

#statsaniMG { 
    left: 270px;
    top: 2160px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
    text-align: right
}

#textaniMG {
    left: 290px;
    top: 2245px;
    position: absolute;
    width: 200px;
    height: auto;
    color: #B8A98F;
    font-size: 13px;
}


#placaaniMG {
    left: 93px;
    top: 2135px;
    position: absolute;
    color: #B8A98F;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 180px;
}

#tituloaniMG {
    left: 75px;
    top: 2000px;
    position: absolute;
    color: #D4AF37;
    font-size: 15px;
    text-align: center;
    border: 2px solid #1B1715;
    border-radius: 5px;
    background-color: #1B1715;
    width: 85%;
}

#psdescricaoaniMG {
    left: 970px;
    top: 2135px;
    color: #B8A98F;
    font-size: 15px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 100px;
    text-align: center;
    line-height: 16px;
}

#descricaoaniMG {
    left: 870px;
    top: 2165px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 4px;
    background-color: #1B1715;
    width: 315px;
    text-align: start;
    line-height: 16px;
}

#pshistoriaaniMG {
    left: 620px;
    top: 2135px;
    color: #B8A98F;
    font-size: 15px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 3px;
    background-color: #1B1715;
    width: 100px;
    text-align: center;
    line-height: 16px;
}

#historiaaniMG {
    left: 520px;
    top: 2165px;
    color: #B8A98F;
    font-size: 13px;
    position: absolute;
    border: 2px solid #1B1715;
    border-radius: 4px;
    background-color: #1B1715;
    width: 315px;
    text-align: start;
    line-height: 16px;

}

#logo3 {
    left: 0px;
    top: 2550px;
    position: absolute;
    color: #D4AF37;
    border: 2px solid #3d342f;
    border-radius: 3px;
    background-color: #1B1715;
    width: 99.7%;
    height: 75px;
}

#creditoscadu2 {
    left: 103px;
    top: 2600px;
    position: absolute;
    color: #B8A98F;
    font-size: 10px;

}

#creditoscharge2 {
    left: 1400px;
    top: 2600px;
    position: absolute;
    color: #B8A98F;
    font-size: 10px;

}