body {

    background-color: rgb(15, 53, 222);

    font: arial 15pt normal;
}

header {

color: white;

text-align: center;
}

section {


    margin: auto;

    background-color: rgb(148, 133, 224);

    padding-left: 15px;

    width: 500px;

    border-radius: 10px;

    box-shadow: 5px 5px 10px rgb(24, 21, 21);

}

footer {

color: white;

text-align: center;

font-style: italic;
}

div {

    padding: 5px;
}